# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.bat]
indent_style = tab
end_of_line = crlf

[LICENSE]
insert_final_newline = false

[Makefile,Justfile]
indent_style = tab

[*.{svg,rb,pp,yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
indent_size = 2

[*.{py,pyi}]
max_line_length = 132
indent_size = 4
insert_final_newline = true

[*.toml]
max_line_length = 132
indent_size = 2


[*.json]
indent_size = 4
indent_style = space
max_line_length = 132

[*.mdc]
insert_final_newline = true
