aiocache
aiodebug
aiodns
aiofile
aiofiles
aiohttp
aiomonitor
aioprometheus[starlette]
aiosql
aiosqlite
attrs
Babel
beautifulsoup4
better-exceptions
boto3
chardet
chromadb
click-spinner
codetiming
dask
discord-py
docutils
duckduckgo-search
factory-boy
faker
fastapi
fonttools[woff]
gallery-dl
google-auth
google-auth-oauthlib
gutter
httpx[http2]
imageio
imutils
langchain
langchain-community
langchain-openai
lazy-object-proxy
logging-tree
loguru
lxml
markdown
matplotlib
md2pdf
memory-profiler
motor
multiprocess
mutagen
numpy
openai
pandas
passlib[bcrypt]
pathlib-mate
Pillow
prettytable
pycryptodome
pydantic-settings
pydantic[dotenv,email]
pygments
pyinspect
pyinvoke
pypdf
PyPDF2
pypi-command-line[speedups]
pytablewriter[html]
python-docx
python-dotenv
python-json-logger
python-Levenshtein
python-slugify
pytz
redis
requests
scenedetect[opencv]
sentencepiece
simpletransformers
soupsieve
streamlit
striprtf
telnetlib3
tenacity
torch
tqdm
transformers
typer
uritemplate
uritools
uvicorn
validators
watchdog[watchmedo]
webcolors
websockets
wikipedia
